/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  width: 1360px;
  max-width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}
.card{
    width: 550px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.img-container {
    position: relative;
    margin: 25px auto;
    width: 100%;
 }
 .text-on-image {
   position: absolute;
   left: 60%;
   top: 10%;
   background-color: rgb(255, 25, 25);
   width: 80px;
   height: 80px;
   border-radius: 50%;
   color: white;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .text-image{
    position: absolute;
    /* left: //32%; */
    left: 492px;
    /* top :47%; */
    top: 337px;
    background-color: red;
    font-size: 1.6rem;
    color: white;
    padding: 8px 16px;
 }

 .color{
    background-color: white;
 }

 h1{
    font-size: 2.4rem;
    font-weight:600;
    text-align: center;
 }

 h5{
    color: rgba(192, 9, 9, 0.792);
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
 }

 .description{
   font-size: 1.2rem;
   margin-bottom: 2rem;
 }



 